/*********************
Name: Yolanda Gunter
Assignment: Coding 06
Purpose: MVC Frameworks
Notes: Learning Codeigniter to better understand MVC programming.
**********************/


// This applies from 0px to 600px

.container {
    align-center;
}

img {
    max-width: 100%;
}

body {
  background: #e2d1dd;
}

.bodywrapper {
    align-center;
    max-width: 100%;
    background-color: #fff;
}

.container {
    align-center;
    padding: 20px 50px 20px;
    max-width: 100%;
}


// This applies from 600px onwards
@media (min-width: 600px) {
  body {
    background: #fff;
  }
  
  .container {
      width: 100%;
  }
  
  .header_banner {
    width: 100%;
  }
}
