/*********************
Name: Yolanda Gunter
Assignment: Coding 06
Purpose: MVC Frameworks
Notes: Learning Codeigniter to better understand MVC programming.
**********************/
/* 
    Created on : Oct 17, 2019, 11:12:25 PM
    Author     : Yolanda Gunter
*/

/* This is the css is mobile-first */

body {
    background-color: #b5dacd
}
